<!DOCTYPE html>
<html lang="@SiteUtils.GetDefaultLanguage()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @R["Blog Adecco"]</title>

    <script type="importmap"></script>

    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogAdecco.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
</head>
<body>
    <header>
        <partial name="~/Areas/Admin/Views/Shared/_AdminBarPartial.cshtml" />
    </header>
    <div class="container">
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;@System.DateTime.Now.Year - @R["Adecco Group"] - <a asp-page="/AvisoDePrivacidad">@R["Privacy Notice"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/es.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
