<!-- Mobile Sidebar Navigation BEGIN -->
<div class="sidebar-nav d-block d-md-none">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container">

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow houschka_headdemibold list-secondary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav m-0 p-0">
                        <li>
                            <a class="custom-margin1 d-block" asp-page="/Index">
                                <img src="~/images/logo.png" class="mt-3 mt-md-5 mb-0" />
                            </a>
                        </li>

                        <li class="ms-2 mb-5">
                            <span class="badge rounded-pill text-bg-light">@ViewBag.Header.Subtitle</span>
                        </li>

                        @foreach (var item in ViewBag.Header.Links1)
                        {
                            <li style="width: @item.WidthPx">
                                <a href="@item.Url" class="text-decoration-none p-2 fs-5 d-inline-block">@item.Title</a>
                            </li>
                        }

                        <li>
                            <hr class="divider">
                        </li>

                        @foreach (var item in ViewBag.Header.Links2)
                        {
                            <li>
                                <a href="@item.Url" class="text-decoration-none text-white p-2 fs-5 d-inline-block">@item.Title</a>                               
                            </li>
                        }

                        <li>
                            <hr class="divider">
                        </li>

                        <li>
                            <a href="mailto:@ViewBag.Header.Email" class="text-start text-md-end text-white float-start text-decoration-none fs-5 custom-margin1 d-block">
                                <i class="zmdi zmdi-email-open"></i> @ViewBag.Header.Email
                            </a>
                        </li>

                        <li>
                            <a href="tel:@ViewBag.Header.Phone" class="text-start text-white float-start text-decoration-none fs-5 custom-margin1 d-block mt-2">
                                <i class="zmdi zmdi-phone"></i> @ViewBag.Header.Phone
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btn-group">
                <a asp-page="/Index">
                    <img src="~/images/logo.png" class="mt-1 mt-md-5 mb-0" />
                </a>
            </div>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</div>
<!-- Mobile Sidebar Navigation END -->

<div class="main-header adecco-color-bg">
    <div class="container pb-4">
        <div class="row justify-content-between">
            <div class="col-12 col-md-3 mt-5 mt-md-0 pt-5 pt-md-0">
                <a class="d-none d-md-block" asp-page="/Index">
                    <img src="~/images/logo.png" class="mt-3 mt-md-5 mb-0 module come-in" />
                </a>
                <p class="text-white-50 fs-5 d-none d-md-block module come-in houschka_headmedium">Contenido de valor para ti</p>
            </div>
            <div class="col-12 col-md-6 mt-0 mt-md-5 mb-0">
                <a href="mailto:@ViewBag.Header.Email" class="text-start text-md-end text-white float-start float-md-end text-decoration-none module come-in houschka_headdemibold">
                    <i class="zmdi zmdi-email-open"></i> @ViewBag.Header.Email
                </a>
                <a href="tel:@ViewBag.Header.Phone" class="text-end text-white float-end text-decoration-none px-4 module come-in houschka_headdemibold">
                    <i class="zmdi zmdi-phone"></i> @ViewBag.Header.Phone
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-white fs-3 mt-4 module come-in houschka_headmedium">@ViewBag.Header.Subtitle</p>
                <ul id="crumbs">
                    <li><a class="hover-2 hover-4" asp-page="/Index"><i class="zmdi zmdi-home"></i></a> </li>
                    @foreach (var item in ViewBag.Header.Breadcrumbs)
                    {
                        <li><i class="zmdi zmdi-caret-right"></i> @item </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Desktop Navigation BEGIN -->
<div class="text-bg-dark d-none d-md-block">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-9 py-3 list-secondary">
                <ul>
                    @foreach (var item in ViewBag.Header.Links1)
                    {
                        <li style="width: @item.WidthPx">
                            <a href="@item.Url" class="text-decoration-none p-2 fs-5 module come-in d-inline-block">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-12 col-lg-3 py-3 list-secondary">
                <ul class="d-flex justify-content-end">
                    @for (int i = 0; i < ViewBag.Header.Links2.Count; i++)
                    {
                        var item = ViewBag.Header.Links2[i];
                        var liClass = i == ViewBag.Header.Links2.Count - 1 ? $"" : $"right-separator";

                        <li class="@liClass" style="width: @item.WidthPx">
                            @if (item.Enabled)
                            {
                                <a href="@item.Url" class="text-decoration-none p-2 fs-5 module come-in d-inline-block">@item.Title</a>
                            }
                            else
                            {
                                <p class="houschka_headdemibold p-2 fs-5 mb-0 module come-in color-gray3">@item.Title</p>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Desktop Navigation END -->