<!DOCTYPE html>
<html lang="@SiteUtils.GetDefaultLanguage()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @SiteUtils.GetSiteName()</title>

    <script type="importmap"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','@Globals.GoogleTagManagerCode');</script>
    <!-- End Google Tag Manager -->

    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <!-- Fonts CSS -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("Fonts", required: false)

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/js/all.min.css" type="text/css" />

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/already-visible.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogAdecco.styles.css" asp-append-version="true" />

    @await Component.InvokeAsync("Seo", ViewData["SeoInfo"])
</head>
<body>
    <noscript>
        <!-- Google Tag Manager (noscript) -->
        <iframe src="https://www.googletagmanager.com/ns.html?id=@(Globals.GoogleTagManagerCode)" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <header>
        <partial name="~/Areas/Admin/Views/Shared/_AdminBarPartial.cshtml" />
    </header>

    @if (ViewBag.Header == "Default")
    {
        <partial name="_DefaultHeader" />
    }

    <div class="container main-site mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />
    <partial name="_CookieConsentPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/already-visible.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
